@import "~bootstrap/scss/bootstrap.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100% !important;
    height: 500px !important;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-msg {
    list-style-type: none;
}